body {
  color: red;
}

#navbar {
  color: white;
  background-color: orange;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#user {
  display: flex;
  align-items: center;
}

#links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}